@font-face{
    font-family: kenyan;
    src: url(kenyan.ttf);
}


body{
    margin: 0;
    font-family: 'kenyan', sans-serif;
}

.itens{
    background: url(imgs/background.jpg) center center no-repeat;
    background-size: cover;
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*visibility: hidden;*/
    overflow: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.item{
    margin-top: 50px;
}

header{
    width: 100%;
    position: fixed;
    text-align: center;
    margin-top:  10px;
    z-index: 2;
}

.titulo{
    font-size: 30em;
    text-align:  center;
    color: #FFF;
}